.movie__star{
    display: flex;
    flex-direction: row;
}

.MuiSvgIcon-root{
    font-size: 100px;
    margin: 0px 5px;
    color: #141414;
}

.card{
    margin:20px 10px;
    display: inline-block !important;
    outline: none;
    object-fit: contain;
    transition: transform 450ms;
}

.card:hover{
    transform: scale(1.08);
}

.card-body{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.card-img-top{
    height: 22rem;
}

